<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ws </title>
    <script src="./vue.js"></script>


</head>

<body>

    <div id="app">
        <div class="box">
            <div class="box">
                <div class="columns is-mobile">
                    <div class="control column">
                        <input class="input" id="name" type="text" value="" placeholder="Your Name" v-model="myname">
                    </div>
                    <div class="column">
                        <div class="button is-info" onclick="">Set Name</div>
                    </div>


                </div>
                <div class="columns is-mobile">
                    <div class="control column">
                        <input class="input" id="wsuri" type="url" value="ws://localhost:60012" placeholder="Web socket url">
                    </div>
                    <div class="column control">
                        <a class="button is-info" onclick="connectSocket()">Connect</a>
                    </div>


                </div>
            </div>

            <div class="box">
                <div class="control" style="margin-bottom: 10px;">
                    <textarea class="textarea is-primary " id="message" type="text " placeholder="Message here " value=" "></textarea>
                </div>
                <div class="level">
                    <div class=" control level-left has-icons-left">

                        <div class="select level-item">
                            <select>
                                <option>*All</option>
                                <option>*Yourself</option>
                            </select>
                            <div class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="level-right">
                        <div class="level-item">
                            <a class="button is-primary " onclick="send(); ">Send Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <ul>

            <li v-for="item in items ">
                [{{item.message.sender_id}}]<i class="fa fa-angle-right " aria-hidden="true "></i>[{{item.message.receiver_id}}] : {{item.message.content}}
            </li>
        </ul>


    </div>
</body>
<script type="text/javascript " src="./names.js ">
</script>
<script type="text/javascript " src="./ws.js "></script>
<link href="https://cdn.bootcss.com/font-awesome/5.10.2/css/all.css " rel="stylesheet ">
<link href="https://cdn.bootcss.com/bulma/0.7.5/css/bulma.min.css " rel="stylesheet ">

</html>